*{
  padding: 0 !important;
  margin: 0 !important;
}

body {
  overflow-x: hidden;

}

li{
  list-style: none;
}

.login {
  color: #5a6169;
  background-color: #F4F5F7;
  min-height: 100vh;
}

.fixed-top{
  height: 60px;
  line-height: 3.5;
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.625rem rgba(90,97,105,.12);
}

.helloAdmin{
  color: gray;
}

.dropDown {
  color: gray;
}

.dropDown > .dropDown_inner {
  border-left: 1px solid #e1e5eb!important;
  height: 60px;
}

.dropDown > .dropDown_inner > img{
  width: 40px;
  border-radius: 50%;
}

.slideUp {
  display: block;
  overflow: hidden;
  height: 132px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: all ease 0.4s;
}

.slideDown {
  display: block;
  overflow: hidden;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: all ease 0.4s;
}

.sliding {
  /* display: none; */
  top: 4px;
  position: relative;
  width: 98%;
  background: white;
  border-radius: 0px 0px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 0.5rem 2rem, rgba(0, 0, 0, 0.05) 0px 3px 10px, rgba(0, 0, 0, 0.06) 0px 2px 3px;
  font-size: 0.813rem;
}

.hamburger > div {
  position: absolute;
  right: 11px;
  top: 23px;
  height: 30px;
  width: 50px;
  text-align: center;
}

.hamburger i {
  position: absolute;
  font-size: 1.2rem;
  color: #818ea3;
}

.hamburger > div > span:nth-child(2) {
  top: 12px;
}

.hamburger > div > span:nth-child(3) {
  top: 22px;
}

.sideBar-top-row {
  border-bottom: 1px solid #e1e5eb!important;
  height: 60px;
  line-height: 3.5;
  text-align: center;
}

.arrow{
  border-left: 1px solid #e1e5eb;
}
.sideBar-top-row i{
  color: #5A6169;
  font-size: 20px;
  line-height: 3;
}
.sideBar-top-row_inner{
  height: 60px;
}
.sideBar-top-img {
  width: 40px;
} 
.sideBar{
  background-color: #FFFFFF;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
}

@media (max-width: 767px){
  .sideBar {
    left: -1000px !important;
  }
}

.slideLeft {
  left: -1000px !important;
  transition: all ease 0.5s;
}

.slideRight{
  left: 0px !important;
  transition: all ease 0.5s;
}

.main {
  padding: 80px 25px 30px 25px !important;
  color: #5a6169;
  background-color: #F4F5F7;
  min-height: calc(100vh - 2.5rem);
}

.offset {
  margin-left: 16.666667% !important;
}

@media (max-width: 992px){
  .offset {
    margin-left: 25% !important
  }
}
.flex-column{
  font-size: 14px !important;
}
.flex-column > .nav-item{
  font-weight: 400;
  color: gray !important;
  height: 55px !important;
}

.flex-column > .nav-item > a {
  display: block;
  padding-top: 17px !important;
  padding-bottom: 10px !important;
  outline: 0 !important;
  color: gray;
  border-left: 4px solid #FFFFFF;
  padding-left: 11% !important;
  height: inherit;
}
.flex-column > .nav-item > a:hover{
  text-decoration: none;
  background-color: #fbfbfb;
  color: #007bff;
  border-radius: 0;
  border-left: 4px solid #007bff;
  height: inherit;
  padding-left: 11% !important;
}

.active{
  text-decoration: none;
  background-color: #fbfbfb;
  color: #007bff !important;
  outline: none !important;
  border-radius: 0 !important;
  border-left: 4px solid #007bff !important;
}

.bottomNavBar {
  padding: 20px 0px !important;
}

.bottomNavBar .nav-item{
  padding: 0px 20px !important;
  font-size: 13px;
}

.bottomNavBar .nav-item a {
  text-decoration: none;
}

.white-box{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.white-plain-box{
  background-color: white;
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.blogDashboard span{
  letter-spacing: .125rem;
  color: #818ea3;
  font-size: .625rem;
  text-transform: uppercase!important;
  font-weight: 500;
}

.blogDashboard h3 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.line{
  height: 130px;
  position: relative;
}

.line canvas{
  border-radius: 10px;
  height: 58px !important;
  bottom: 0px;
  position: absolute;
}
.analysis {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  padding-top: 25px !important;
}

.a_name{
  color: #818ea3;
  letter-spacing: 1px;
}
.a_figures{
  color: #3d5170;
  font-size: 35px;
  padding-top: 2px !important;
  padding-bottom: 5px !important;
}
.a_percentage{
  color: #17c671;
}

.analysis_row{
  margin-bottom: 4% !important;
}

.posts, .pages, .comments, .newCustomers, .subscribers{
  width: 16%;
}

.posts, .pages, .comments, .newCustomers{
  margin-right: 5% !important;
}

@media (max-width: 992px){
  .posts {
    margin-right: 2% !important;
    margin-bottom: 4% !important;
  }
  .pages{
    margin-left: 2% !important;
    margin-right: 0% !important;
    margin-bottom: 4% !important;
  }
  .posts, .pages{
    width: 48%;
  }
  .comments, .newCustomers, .subscribers{
    width: 29.3%;
    margin-right: 0% !important;
  }
  .comments, .newCustomers{
    margin-right: 6% !important;

  }
}

@media (max-width: 767px){
  .comments, .newCustomers, .subscribers{
    width: 48%;
  }
  .comments{
    margin-right: 4% !important;
    margin-bottom: 4% !important;
  }
  .newCustomers{
    margin-right: 0% !important;
  }
  .subscribers{
    margin-bottom: 4% !important;

  }
}

@media (max-width: 575px){
  .posts, .pages, .comments, .newCustomers, .subscribers{
    width: 100%;
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
  .newCustomers, .subscribers{
    margin-bottom: 4% !important;
  }
}

.overviewTitle, .overviewDate{
  border-bottom: 1px solid #e1e5eb!important;
}

.overviewDate {
  background-color: #fbfbfb!important;
}

.oDateContainer input{
  padding: 5px 0px !important;
  text-align: center;
  font-size: 12px;  
  border: 1px solid #e1e5eb!important;
}

.oDateContainer input:nth-child(1){
  border-radius: 5px 0px 0px 5px;
  margin-right: -1px !important;
}
.oDateContainer i{
  border-radius: 0px 5px 5px 0px;
  padding: 5px 9px 7px 10px !important;
  border: 1px solid #e1e5eb!important;
  margin: 0px 0px 0px -1px !important;
}

.reportBtn{
  border: 1px solid #e1e5eb!important;
  padding: 5px 15px !important;
  font-size: 12px;
}

.overviewChart{
  padding: 10px !important;
}

.overview {
  padding-right: 1% !important;
}

.customPadding{
  padding-left: 2% !important;
}

@media (max-width: 992px){
  .customPadding{
    padding-left: 0% !important;
    padding-top: 4% !important;
  }
  .overview {
    padding-right: 0% !important;
  }
}

.newDraft{
  padding-right: 2% !important;
  margin-top: 4% !important;
}


.draftFormContainer {
  border-top: 1px solid #e1e5eb;
}

.draftFormContainer textarea{
    resize: none;
    height: 330px;
}

.draftFormContainer input, textarea, button {
  font-size: 13px !important;
}

.discussion{
  padding-left: 1% !important;
  margin-top: 4% !important;
  padding-right: 1% !important;
}

.discussionTitle{
  border-bottom: 1px solid #e1e5eb;  
}

.comments_row{
  border-bottom: 1px solid #e1e5eb;
}

.commentImgContainer img {
  border-radius: 5px;
  width: 100%;
}

.commentHeading, .commentTime {
  color: #5a6169!important;
  font-weight: 500;
}

.commentPara{
  color: #868e96!important;
  font-weight: 500;
  font-size: 16px;
}

.commentButtonContainer{
  border: 1px solid #e1e5eb;
  border-radius: 3px;
  display: inline-block;
}

.commentButtonContainer > button:nth-child(1){
  border-right: 1px solid #e1e5eb;
}
.commentButtonContainer > button:nth-child(3){
  border-left: 1px solid #e1e5eb;
}

.discussionViewAll button{
  border: 1px solid #e1e5eb;
}

.referrals {
  padding-left: 2% !important;
  margin-top: 4% !important;
}

.referralsContainer{
  border-top: 1px solid #e1e5eb;
}

@media (max-width: 992px){
  .newDraft{
    padding-right: 0% !important;
    padding-left: 4% !important;
  }

  .discussion{
    padding-left: 0% !important;    
    padding-right: 0% !important;
  }
  
  .referrals {
    padding-left: 0% !important;    
  }
}

@media (max-width: 767px){
  .newDraft{    
    padding-left: 0% !important;
  }
}

.border-bottom, .border-top{
  border-bottom: 1px solid #e1e5eb!important;
}

.deviceTitle{
  border-bottom: 1px solid #e1e5eb!important;
}
.deviceBottom{
  border-top: 1px solid #e1e5eb!important;
}

.deviceOption {
  border: 1px solid #e1e5eb!important;
}

.border_radius{
  border-radius: 10px;
}

.errors {
  position: absolute;
  top: 35%;
}

.errors h2{
  color: #cacedb;
    font-weight: 700;
    font-size: 3.75rem;
}
.errors h3{
  font-weight: 500;
  font-size: 2.4rem;
  color: #3d5170;
  line-height: 2.25rem;
  margin-bottom: 0.75rem !important;
}
.errors p{
  color: #818ea3;
  font-weight: 500;
  font-size: 15px;

}
.errors button{
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
  box-shadow: none;
  border-radius: 50px;
}

.UserProfile, .userForm{
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.UserProfile {
  margin-right: 4% !important;
}
.userForm {
  margin-left: 2% !important;
}

@media (max-width: 992px){
  .UserProfile {
    margin-right: 0% !important;
  }
  .userForm {
    margin-left: 0% !important;
    margin-top: 4% !important;
  }
}
.UserName_container{
  padding: 20px !important;
}

.UserName_container h4{
  color: #3d5170;
  font-size: 23px;
  font-weight: 500;
}
.UserName_container span{
  display: block;
  color: #868e96!important;
  font-weight: 500;
  font-size: 14px !important;
}

.UserName_container button{
  border-radius: 50px;
}

.UserName_container img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.workload {
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 8px 20px !important;
}
.workload span{
  color: #868e96!important;
  font-size: 14px;
  font-weight: 500;
}
.progress{
  height: .3125rem;
  background-color: #f5f5f6;
  box-shadow: inset 0 0.1rem 0.1rem rgba(90,97,105,.15);

}
.progress-bar{
  width: 74%;
  height: .3125rem;
}

.description {
  padding: 20px !important; 
}
.description h6{
 color: #868e96!important;
}
.description span{
  color: #5a6169;
  display: block;
  font-size: 13px;
 }

.formTitle {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.formTitle h6 {
  font-size: 15px;
}

.userForm_container{
  padding: 0px 15px !important;
}

@media (max-width: 767px){
  .userForm_container .pl-1{
    padding-left: 0% !important;
  }
  .userForm_container .pr-1{
    padding-right: 0% !important;
  }
}

.userForm_container label{
  display: inline-block;
  margin-bottom: .5rem !important; 
  margin-top: .5rem !important; 
  font-size: 14px !important;
  font-weight: 400;
}
.userForm_container input, .userForm_container select, .userForm_container option{
  padding: 0px 10px !important;
  font-size: 11px !important;
  color: #868e96;
}

.userForm_container select.form-control:not([size]):not([multiple]) {
  height: calc(1.9rem) !important;
}

.table, .table-dark{
  border-radius: 10px;
  padding: 10px 0px !important;
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.white{
  background-color: #FFFFFF;
}

.blogPosts span{
  letter-spacing: .125rem;
  color: #818ea3;
  font-size: .625rem;
  text-transform: uppercase!important;
  font-weight: 500;
}

.blogPosts h3 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.blogRow > .row > div:nth-child(1){
  padding-right: 22px !important;
}
.blogRow > .row > div:nth-child(2){
  padding-left: 8px!important;
  padding-right: 14px !important;
}
.blogRow > .row > div:nth-child(3){
  padding-left: 18px !important;
  padding-right: 4px !important;
}
.blogRow > .row > div:nth-child(4){
  padding-left: 22px !important;
}

.blogsImage{
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}

.blogsDescription {
  position: relative;
  top: -43px;
  width: 100%;
  padding-right: 10% !important;
}
.blogsHeading a{
  font-weight: 500;
  margin-bottom: .75rem !important;
  font-size: 1.25rem;
  color: #3d5170!important;
  margin-top: 20px !important;
}
.blogsPara{
  color: #5a6169;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.h300{
  height: 500px;
}
.BTag{
  position: absolute;
  top: -92px;
  right: .9375rem;
  text-transform: uppercase;
  background-color: #212529!important;
  color: #fff;
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  border-radius: 10rem;
}
.profilePic {
  margin-bottom: 7% !important;
}
.profilePic > img{
  width: 2.1875rem;
  height: 2.1875rem;
  box-shadow: 0 0 0 0.125rem #fff, 0 0.1875rem 0.4375rem rgba(90,97,105,.5);
  display: block;
  border-radius: 50%;
  text-indent: -9999px;
}

@media (max-width: 992px){
  .blogRow > .row > div:nth-child(1){
    padding-right: 2% !important;
  }
  .blogRow > .row > div:nth-child(2){
    padding-left: 3% !important;
    padding-right: 0% !important;
  }
  .blogRow > .row > div:nth-child(3){
    padding-left: 0% !important;
    padding-right: 2% !important;
    padding-top: 4% !important;
  }
  .blogRow > .row > div:nth-child(4){
    padding-left: 3% !important;
    padding-top: 4% !important;
  }
}

@media (max-width: 767px){
  .blogRow > .row > div:nth-child(1){
    padding-right: 0% !important;
  }
  .blogRow > .row > div:nth-child(2){
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-top: 4% !important;
  }
  .blogRow > .row > div:nth-child(3){
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  .blogRow > .row > div:nth-child(4){
    padding-left: 0% !important;
  }
}

.blogRow2 > .row > div:nth-child(1){
  padding-right: 14px !important;
}
.blogRow2 > .row > div:nth-child(2){
  padding-left: 18px !important;
}

@media (max-width: 992px){
  .blogRow2 > .row > div:nth-child(1){
    padding-right: 0% !important;
  }
  .blogRow2 > .row > div:nth-child(2){
    padding-left: 0% !important;
    margin-top: 4% !important;    
  }
}

@media (max-width: 767px){
  .blogRow2 > .row > div:nth-child(1){
    padding-right: 0% !important;
  }
  .blogRow2 > .row > div:nth-child(2){
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-top: 4% !important;
  }
}

.blogRow3 > .row > div:nth-child(1){
  padding-right: 16px !important;
}
.blogRow3 > .row > div:nth-child(2){
  padding-left: 18px !important;
  padding-right: 8px !important;
}
.blogRow3 > .row > div:nth-child(3){
  padding-left: 26px !important;
}

@media (max-width: 992px){
  .blogRow3 > .row > div:nth-child(1){
    padding-right: 0% !important;
  }
  .blogRow3 > .row > div:nth-child(2){
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-top: 4% !important;
  }
  .blogRow3 > .row > div:nth-child(3){
    padding-left: 0% !important;
    margin-top: 4% !important;
  }
}

@media (max-width: 767px){
  .blogRow3 > .row > div:nth-child(1){
    padding-right: 0% !important;
  }
  .blogRow3 > .row > div:nth-child(2){
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-top: 4% !important;
  }
  .blogRow3 > .row > div:nth-child(3){
    padding-left: 0% !important;
    margin-top: 4% !important;
  }
}

.activeUsersTable {
  border-collapse: collapse;
}
.activeUsersTable tr{
  line-height: 2.8;
}

.activeUsersTable thead{
  background-color: #fbfbfb!important;
}

.activeUsersTable td, .activeUsersTable th{
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  padding: 0 2% 0 2% !important;

}

.tableTitle h5{
  color: #5a6169;
  font-size: 17px !important;
}

.tablesPage span{
  letter-spacing: .125rem;
  color: #818ea3;
  font-size: .625rem;
  text-transform: uppercase!important;
  font-weight: 500;
}

.tablesPage h3 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.dark-box{
  background-color: #212529;
  color: white !important;
  border-radius: 10px;
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.activeUsersTableDark {
  border-collapse: collapse;
}
.activeUsersTableDark tr{
  line-height: 2.8;
}

.activeUsersTableDark td, .activeUsersTableDark th{
  border-top: 1px solid #32383E;
  padding: 0 2% 0 2% !important;

}

.tableTitleDark h5{
  color: white;
  font-size: 17px !important;
}

.addNewPost span{
  letter-spacing: .125rem;
  color: #818ea3;
  font-size: .625rem;
  text-transform: uppercase!important;
  font-weight: 500;
}

.addNewPost h3 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.postForm textarea{
  border-radius: 0px 0px 3px 3px !important;
  margin-top: -1px !important;
  resize: none;
  border: 1px solid #e1e5eb;
}
.postForm input{
  border: 1px solid #e1e5eb;
}
/* .postForm textarea{
  border-radius: 0px 0px 3px 3px !important;
  margin-top: -1px !important;
  resize: none;
  border: 1px solid #e1e5eb;
} */

.postForm textarea:focus{
  box-shadow: none !important;  
}

.postForm input:focus{
  box-shadow: none !important;  
}

.toolbar{
  border-radius: 3px 3px 0px 0px !important;
  padding: 10px !important;
  border: 1px solid #e1e5eb;
}

.toolbar span:nth-child(1) select{
  border: 0;
}
.hoverEffect{
  color: #007bff !important;
}
.toolBarForm{
  margin-right: 1% !important;
}

.actionAndCategories{
  padding-left: 8% !important;
}

@media (max-width: 992px){
  .toolBarForm{
    margin-right: 0% !important;
  }
  
  .actionAndCategories{
    padding-left: 0% !important;
    margin-top: 2% !important;
  }
}

.dg{
  color: #5a6169 !important;
  font-weight: 500;
}

.text-success{
  color: #17c671!important;
  font-weight: 500;
}

.text-warning {
  color: #ffb400!important;
  font-weight: 500;
}

.custom-control.custom-checkbox .custom-control-label:before {
  border-radius: 2px;
  width: 18px;
  height: 18px;
}
.custom-control.custom-checkbox .custom-control-label::after {
  position: absolute;
  top: .22rem;
  left: -1.49rem;
  display: block;
  content: "";
  background: no-repeat 64%/72% 81%;
  width: 18px;
  height: 18px;
}

.custom-control.custom-radio .custom-control-label::before {
  /* border-radius: 2px; */
  width: 18px;
  height: 18px;
}

.custom-control.custom-radio .custom-control-label::after{
  position: absolute;
  top: .218rem;
  left: -1.55rem;
  width: 20px;
  height: 20px;
}

.custom-control.custom-radio .custom-control-input:disabled:checked~.custom-control-label:before,
.custom-control.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before  {
  background-color: #a8aeb4;
  background: #e9ecef;
  border-color: #e1e5eb;
}
.custom-radio .custom-control-input:disabled:checked~.custom-control-label::after{ 
  background-image: none;
  background: #becad6;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 8px;
  left: -20px;
}

.custom-control-label:before {
  border: 1px solid #e1e5eb;
}

.newCategoryAddBtn{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: 1px solid #e1e5eb;
  color: #3d5170;
  margin-left: -1px !important;
}

.newCategory{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.newCategory input{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border: 1px solid #e1e5eb;
  border-bottom-right-radius: 0;
  color: #495057;
  padding: .4375rem .75rem !important;
  font-size: .8125rem;
  line-height: 1.5;
  box-shadow: none;
}

.newCategory input:focus, .input-group-append button:focus{
  box-shadow: none;
  border: 1px solid #e1e5eb;
}
.input-group-append button:active{
  background-color: skyblue;
}
.formsAndComponents{
  margin-top: 60px !important;
}

@media (max-width: 767px){
  .formsAndComponents {
    margin-top: 80px !important;
    text-align: center;
  }
}

.formsAndComponents span{
  letter-spacing: .125rem;
  color: #818ea3;
  font-size: .625rem;
  text-transform: uppercase!important;
  font-weight: 500;
}

.formsAndComponents h3 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.alert-block{
  position: absolute;
  left: 0px;
  top: 60px;
}

.alert-block i {
  font-weight: 300;
  font-size: 18px;
}

.alert-primary {
  color: #f5faff;
  background-color: #007bff;
  padding: .75rem 1.25rem !important;
  margin-bottom: 1rem !important;
  border: none;
  border-radius: 0;
  font-weight: 500;
  font-size: 15px;
}

.fade{
  transition: opacity .2s ease-in-out;
}

.show {
  animation: cssAnimation 0s 0.4s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

.formsButtonsContainer strong{
  color: #818ea3;
  font-weight: 500;
}

.formsButtons div{
  margin-right: 15px !important;
}

.formInputsTitle h6, .formExampleTitle h6 {
  color: #3E5170;
  font-size: 1rem;
}
.text-muted {
  color: #868e96!important;
}

.formInputsRow1 strong{
  font-size: 15px;
  font-weight: 500;
}
.custom-switch .custom-control-input:checked~.custom-control-label:before{
  color: #fff;
  background: #17c671 !important;
  border-color: #17c671 !important;
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before{
  background-color: #a8aeb4 !important;
  background: #E9ECEF !important;
  border-color: #e1e5eb !important;
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::after{ 
  background-image: none;
  background: #becad6;
  border-radius: 50%;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 2.18rem;
  pointer-events: all;
  border-radius: .5rem;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff;
  transform: translateX(1.1rem);
}

.formInputs{
  margin-right: 2% !important;
}

.formExample{
  margin-right: 2% !important;
  margin-bottom: 4% !important;
}

.sidebarAndProgress{
  margin-left: 4% !important;
} 

.groups{
  margin-left: 4% !important;
}

@media (max-width: 992px){
  .formInputs{
    margin-right: 0% !important;
  }
    
  .formExample{
    margin-right: 0% !important;
    margin-bottom: 0% !important;
  }
    
  .sidebarAndProgress{
    margin-left: 0% !important;
  } 
    
  .groups{
    margin-left: 0% !important;
  }
}

.progressBars strong, .customSliders strong{
  font-weight: 500;
}

.MuiSlider-thumb {
  width: 25px !important;
  height: 25px !important;  
  margin-top: -10px !important;
  border: 1px solid #e7e9ea !important;
  border-radius: 50% !important;
  background: #fff !important;
  cursor: grab !important;
  box-shadow: 0 3px 15px rgba(90,97,105,.1), 0 2px 3px rgba(90,97,105,.2) !important;
}

.MuiSlider-thumb:focus {
  outline: 0 !important;
  box-shadow: 0 0 8px rgba(0,123,255,.65), 0 3px 15px rgba(90,97,105,.1), 0 2px 3px rgba(90,97,105,.2) !important;
}

.MuiSlider-track {
  height: 5px !important;
  border-radius: 4px !important;
  background-color: #17C671 !important;
}
.MuiSlider-rail {
  height: 5px !important;
  box-shadow: inset 0 0.1rem 0.1rem rgba(90,97,105,.15) !important;
  background: rgba(0,0,0, 0.13) !important;
}

.MuiTooltip-tooltip{
  text-align: center !important;
  white-space: nowrap !important;
  border-radius: .375rem !important;
  background: #fff !important;
  color: #5a6169 !important;
  padding: 6px 6px 5px 6px !important;
  box-shadow: 0 3px 15px rgba(90,97,105,.1), 0 2px 3px rgba(90,97,105,.2) !important;
  top: -5px !important;
  position: relative !important;
  font-size: 12px !important;
}

.CustomSlider2 .noUi-horizontal {
  height: 5px !important;
}

.CustomSlider2 .noUi-connect {
  background: #007BFF;
}

.CustomSlider2 .noUi-target {
  position: relative;
  direction: ltr;
  background: #eceeef;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(90,97,105,.1);
  margin: 35px 0;
  border: none;
}

.CustomSlider2 .noUi-pips {
  font-size: .625rem;
}

.CustomSlider2 .noUi-pips-horizontal {
  padding: 10px 0 !important;
}

.CustomSlider2 .noUi-value{
  color: #a8aeb4;
  font-weight: 700;
}
.CustomSlider2 .noUi-marker-horizontal.noUi-marker{
  width: 1px;
  height: 5px;
}

.CustomSlider2 .noUi-marker-horizontal.noUi-marker-large {
  height: 9px;
}

.CustomSlider2 .noUi-handle, .CustomSlider3 .noUi-handle  {
  position: absolute;
  border: 1px solid #e7e9ea;
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(90,97,105,.1), 0 2px 3px rgba(90,97,105,.2);
  background: #fff;
  -webkit-transition: all .25s cubic-bezier(.27,.01,.38,1.06);
  transition: all .25s cubic-bezier(.27,.01,.38,1.06);
  top: -10px !important;
  width: 25px !important;
  height: 25px !important;
  cursor: grab;
}

.noUi-handle:before, .noUi-handle:after {
  content: none !important;
}

.noUi-handle.noUi-handle-upper:focus, .noUi-handle.noUi-handle-lower:focus, .noUi-touch-area:focus {
  outline: 0 !important;
  box-shadow: 0 0 8px rgba(0,123,255,.65), 0 3px 15px rgba(90,97,105,.1), 0 2px 3px rgba(90,97,105,.2) !important;
}

.CustomSlider3 .noUi-target {
  background: #eceeef;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
  border: none;
}
.CustomSlider3 .noUi-horizontal {
  height: 5px !important;
}

.CustomSlider3 .noUi-connect {
  background: #00B8D8;
}
.smallButtonTitle strong, .formsTitle strong, .formsValidationTitle strong{
  font-weight: 500;
}

.forms span, .forms input, .forms select{
  font-size: 12px;
}

.forms span{
  background-color: white;
}

.FormValidation span, .FormValidation input, .FormValidation select{
  font-size: 12px;
}

.FormValidation span{
  background-color: white;
}
.buttonGroupTitle strong, .InputGroupTitle strong{
  font-weight: 500;
}
.buttonGroup button:nth-child(2){
  border: 1px solid #E1E5EB;
}
.buttonGroup button:nth-child(3){
  border: 1px solid #E1E5EB;
  margin-left: -1px !important;
}
.buttonGroup button:nth-child(4){
  border: 1px solid #E1E5EB;
  margin-left: -1px !important;
}

.buttonGroup input, .buttonGroup span {
  font-size: 12px;
}
.userIcon {
  position: absolute;
  left: 11px;
  top: 10px;
  z-index: 999;
  color: #868ea3;
  font-size: 12px;
}

.passIcon{
  z-index: 999;
  color: #868ea3;
  font-size: 12px;
  position: absolute;
  right: 11px;
  top: 10px;
}
.filesAndDropdown{
  margin-left: 4% !important;
}
@media (max-width: 992px){
  .filesAndDropdown{
    margin-left: 0% !important;
  }
}